.category .card {
  width: 600px;
}
.category-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.view-category-header {
  display: flex;
  justify-content: space-between;
}
/* table */
table.dashboard-content-table {
  border: 1px solid #c6cdc9;
  font-size: 13px;
}
table.dashboard-content-table caption,
table.dashboard-content-table th {
  color: black;
  border: 1px solid #c6ccc9;
  /* background-color:; */
}
table.dashboard-content-table tr {
  border-top: 1px solid #c6ccc9;
}
table.dashboard-content-table tr:nth-of-type(2n) {
  background-color: #f2f4f5;
}
table.dashboard-content-table .far,
table.dashboard-content-table .fa-regular,
table.dashboard-content-table .fa {
  font-size: 18px;
}
.fa-arrow-up-right-from-square:hover {
  cursor: pointer;
}
.fa-arrow-up-right-from-square:active {
  color: white;
}
.modal-pics-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
}
.modal-pics {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.card.photos {
  width: 250px;
}
.card.card.photos .buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card.card.photos .card-header {
  padding: 0;
}
.card.card.photos .card-header img {
  display: block;
  width: 100%;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card.card.photos .photo-name {
  font-size: 10px;
}
.category-btn-type {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.category-btn-type .fa:hover {
  cursor: pointer;
}
.category-btn-type .fa.avoid:hover {
  cursor: not-allowed;
}
.category-btn-type .fa:active {
  color: white;
}
.category-btn-type .fa {
  border: 1px solid #898f8c;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
