.reports .view-category-header{
  align-items: baseline;
}
.reports .view-category-header.filter{
  display: flex;
  align-items:end;
}
.fa.report-icon{
    height: 35px;
    background-color: rgb(34, 122, 34);
    color: white;
}